@import 'global';

// :root {
    // transform: scale(.4);
// }

#canvas {
    cursor: pointer;
    background: url('#{$path-base}assets/smile-bg.jpg');
    background-size: cover;
    background-position-x: right;
}