@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Open+Sans:wght@300;400;600;700;800&display=swap");

$path-base: "/Epiclygend/Animation/RamadhanThirtyDays/" !default;

$canvas_width: 100vw;
$canvas_height: 100vh;

$font-primary: "Open Sans", sans-serif !default;

$tagline_font: "Montserrat", sans-serif !default;

$color_bg-base: #fff !default;
$color_font-base: #000 !default;

* {
    position: relative;
    box-sizing: border-box;
    font-family: $font-primary;
    color: $color_font-base;
}

:root {
    font-size: calc(#{$canvas_height} / 50);
}

body {
    margin: 0;
    background-color: $color_font-base;
}

div#canvas {
    width: $canvas_width;
    height: $canvas_height;
    background-color: $color_bg-base;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tagline {
    margin: 2em;
    padding: 0.6em 1.3em;
    font-family: $tagline_font;
    font-size: 0.8rem;
    color: #000;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 3px 10px #0002;

    span {
        font-family: $tagline_font;
        font-weight: 700;
        color: #000;
    }
}

div.animation {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & > * {
        position: absolute;
    }
}

span.attributions {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.6rem;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    span {
        font-size: 0.7rem;
    }
}

span#exitFull {
    background-color: #fff;
    border-radius: 50%;
    padding: 20px;
    width: calc(20px + 1em);
    height: calc(20px + 1em);
}

blockquote {
    margin: 1em;
    text-align: center;
    color: $color_font-base;
    font-size: 2rem;
    text-shadow: 3px 0px 0.25em aliceblue, -3px 0px 0.25em aliceblue, 6px 0px 0.5em aliceblue, -6px 0px 0.5em aliceblue;

    span.author {
        display: block;
        bottom: -2em;
        right: 1em;
        text-align: right;
        padding: 0.1em 0.6em;
        font-size: 1rem;
        color: $color_font-base;
        background-color: #fffd;
    }
}

.f\: {
    &montserrat {
        font-family: "Montserrat", sans-serif;
    }
    &open\-sans {
        font-family: "Open-Sans", sans-serif;
    }
}

.f-w\: {
    &100 {
        font-weight: 100;
    }
    &200 {
        font-weight: 200;
    }
    &300 {
        font-weight: 300;
    }
    &400 {
        font-weight: 400;
    }
    &500 {
        font-weight: 500;
    }
    &600 {
        font-weight: 600;
    }
    &700 {
        font-weight: 700;
    }
    &800 {
        font-weight: 800;
    }
    &900 {
        font-weight: 900;
    }
}

.italic {
    font-style: italic;
}
